#about.about.section.section-page
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        h2.about__title We've got what you need!
        hr.divider.light.my-24
        p.about__desc.mb-24 Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!
        a(href="").btn.btn-light.btn-xl Get Started!