#contact.contact.section
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        h2.contact__title Let's Get In Touch!
        hr.divider.my-24
        p.contact__desc.mb-48 Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!
    .row
      .col-lg-4.ml-auto.text-center
        .contact__item.mb-5
          .contact__icon <i class="fa fa-phone" aria-hidden="true"></i>
          .contact__chil +1 (555) 123-4567
      .col-lg-4.mr-auto.text-center
        .contact__item
          .contact__icon <i class="fa fa-envelope" aria-hidden="true"></i>
          a(href="") contact@yourwebsite.com
