.freedownload.section
  .container
    .row.justify-content-center
      .col-lg-8.text-center
        h2.freedownload__title.mb-24 Free download at start bootstrap!
        a(href="").btn.btn-light.btn-xl Download Now!