#portfolio.portfolio
  .container-fluid.p-0
    .row.no-gutters
      .col-sm-6.col-lg-4
        a(href="").portfolio__box
          img(src="https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/1.jpg", alt="")
          .portfolio__caption
            .portfolio__category Category
            .portfolio__name Project Name
      .col-sm-6.col-lg-4
        a(href="").portfolio__box
          img(src="https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/2.jpg", alt="")
          .portfolio__caption
            .portfolio__category Category
            .portfolio__name Project Name
      .col-sm-6.col-lg-4
        a(href="").portfolio__box
          img(src="https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/3.jpg", alt="")
          .portfolio__caption
            .portfolio__category Category
            .portfolio__name Project Name
      .col-sm-6.col-lg-4
        a(href="").portfolio__box
          img(src="https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/4.jpg", alt="")
          .portfolio__caption
            .portfolio__category Category
            .portfolio__name Project Name
      .col-sm-6.col-lg-4
        a(href="").portfolio__box
          img(src="https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/5.jpg", alt="")
          .portfolio__caption
            .portfolio__category Category
            .portfolio__name Project Name
      .col-sm-6.col-lg-4
        a(href="").portfolio__box
          img(src="https://startbootstrap.github.io/startbootstrap-creative/assets/img/portfolio/fullsize/6.jpg", alt="")
          .portfolio__caption
            .portfolio__category Category
            .portfolio__name Project Name


