#service.service.section-page.section
  .container
    h2.service__title.text-center At your Service
    hr.divider.my-24
    .row
      .col-md-6.col-lg-3
        .item.mt-48
          .item__icon <i class="fa fa-diamond" aria-hidden="true"></i>
          h3.item__title Sturdy Themes
          p.item__desc Our themes are updated regularly to keep them bug free!
      .col-md-6.col-lg-3
        .item.mt-48
          .item__icon <i class="fa fa-laptop" aria-hidden="true"></i>
          h3.item__title Sturdy Themes
          p.item__desc Our themes are updated regularly to keep them bug free!
      .col-md-6.col-lg-3
        .item.mt-48
          .item__icon <i class="fa fa-globe" aria-hidden="true"></i>
          h3.item__title Sturdy Themes
          p.item__desc Our themes are updated regularly to keep them bug free!
      .col-md-6.col-lg-3
        .item.mt-48
          .item__icon <i class="fa fa-heart" aria-hidden="true"></i>
          h3.item__title Sturdy Themes
          p.item__desc Our themes are updated regularly to keep them bug free!