extends master.pug

block content
   include ./components/Home/banner.pug
   include ./components/Home/about.pug
   include ./components/Home/service.pug
   include ./components/Home/portfolio.pug
   include ./components/Home/freeDownload.pug
   include ./components/Home/contact.pug
