.header#header-scrolled.fixed-top
  .container
    .header__wrap
      .header__top
        .logo
          a(href="").logo-text#header-scrollText Start Bootstrap
        .burger.toggler
          .line1
          .line2
          .line3
      .header__nav
        ul.navbar
          li.navbar__item
            a.navbar__link#header-scrollText(href='#about') About
          li.navbar__item
            a.navbar__link#header-scrollText(href='#service') Service
          li.navbar__item
            a.navbar__link#header-scrollText(href='#portfolio') Portfolio
          li.navbar__item
            a.navbar__link#header-scrollText(href='#contact') Contact
