#modal1.modal
  .modal__content
    button.close-top
      i.fa.fa-times
    .modal__content-action
      .row.justify-content-center
        .col-lg-8
          .portfolio__heading.text-center.text-uppercase.f-M.font-weight-bold LOG CABIN
          .divider__custom.divider__dark
            .divider__custom-line
            .divider__custom-icon
              i.fas.fa-star
            .divider__custom-line
          .modal-image.mb-5
            img.rounded.img-fluid(src='images/cabin.png' alt='')
          p.modal-text.text-center.mb-5
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
          .modal-close.d-flex.justify-content-center
            button.closes
              i.fa.fa-times
              |                   Close Window
#modal2.modal
  .modal__content
    button.close-top
      i.fa.fa-times
    .modal__content-action
      .row.justify-content-center
        .col-lg-8
          .portfolio__heading.text-center.text-uppercase.f-M.font-weight-bold Tasty Cake
          .divider__custom.divider__dark
            .divider__custom-line
            .divider__custom-icon
              i.fas.fa-star
            .divider__custom-line
          .modal-image.mb-5
            img.rounded.img-fluid(src='images/cake.png' alt='')
          p.modal-text.text-center.mb-5
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
          .modal-close.d-flex.justify-content-center
            button.closes
              i.fa.fa-times
              |                   Close Window
#modal3.modal
  .modal__content
    button.close-top
      i.fa.fa-times
    .modal__content-action
      .row.justify-content-center
        .col-lg-8
          .portfolio__heading.text-center.text-uppercase.f-M.font-weight-bold Circus Tent
          .divider__custom.divider__dark
            .divider__custom-line
            .divider__custom-icon
              i.fas.fa-star
            .divider__custom-line
          .modal-image.mb-5
            img.rounded.img-fluid(src='images/circus.png' alt='')
          p.modal-text.text-center.mb-5
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
          .modal-close.d-flex.justify-content-center
            button.closes
              i.fa.fa-times
              |                   Close Window
#modal4.modal
  .modal__content
    button.close-top
      i.fa.fa-times
    .modal__content-action
      .row.justify-content-center
        .col-lg-8
          .portfolio__heading.text-center.text-uppercase.f-M.font-weight-bold Controller
          .divider__custom.divider__dark
            .divider__custom-line
            .divider__custom-icon
              i.fas.fa-star
            .divider__custom-line
          .modal-image.mb-5
            img.rounded.img-fluid(src='images/game.png' alt='')
          p.modal-text.text-center.mb-5
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
          .modal-close.d-flex.justify-content-center
            button.closes
              i.fa.fa-times
              |                   Close Window
#modal5.modal
  .modal__content
    button.close-top
      i.fa.fa-times
    .modal__content-action
      .row.justify-content-center
        .col-lg-8
          .portfolio__heading.text-center.text-uppercase.f-M.font-weight-bold Locked Safe
          .divider__custom.divider__dark
            .divider__custom-line
            .divider__custom-icon
              i.fas.fa-star
            .divider__custom-line
          .modal-image.mb-5
            img.rounded.img-fluid(src='images/safe.png' alt='')
          p.modal-text.text-center.mb-5
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
          .modal-close.d-flex.justify-content-center
            button.closes
              i.fa.fa-times
              |                   Close Window
#modal6.modal
  .modal__content
    button.close-top
      i.fa.fa-times
    .modal__content-action
      .row.justify-content-center
        .col-lg-8
          .portfolio__heading.text-center.text-uppercase.f-M.font-weight-bold Submarine
          .divider__custom.divider__dark
            .divider__custom-line
            .divider__custom-icon
              i.fas.fa-star
            .divider__custom-line
          .modal-image.mb-5
            img.rounded.img-fluid(src='images/submarine.png' alt='')
          p.modal-text.text-center.mb-5
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
          .modal-close.d-flex.justify-content-center
            button.closes
              i.fa.fa-times
              |                   Close Window
